/* NavBar.module.css */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 50px; /* Adjust based on your logo's size */
  margin-right: 10px;
}

nav {
  color: "white";
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}

/* Mobile view */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}
