/* NavBar.module.css */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 50px; /* Adjust based on your logo's size */
  margin-right: 10px;
}

nav {
  background-color: #6ad5fc;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Mobile view */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}
